@import "reset.css";

.canvas-frame{
  position: relative;
  user-select: none;
}

canvas{
  position: absolute;
  left: 12px;
  top: 44px;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border-radius: 16px;
}

body{
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette{
  width: 28px;
  height: 28px;
}

#image-file{
  display: none;
}

/* .buttons{
  display: none;
}
.color-pick{
  display: none;
} */

#color-picker{
background-color: white;
border-radius: 4px;
width: 28px;
height: 28px;
}
#color-picker:hover{
background-color: grey;
}
